/* font */

@font-face {
    font-family: font;
    src: url(font/Inter-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppines;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: regpop;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(font/Inter-Medium.ttf);
}

@font-face {
    font-family: semibold;
    src: url(font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: jua;
    src: url(font/Jua-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(font/Inter-Medium.ttf);
}

@font-face {
    font-family: semibold;
    src: url(font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: font;
    src: url(font/Inter-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppines;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: regpop;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(font/Inter-Medium.ttf);
}

@font-face {
    font-family: semibold;
    src: url(font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: jua;
    src: url(font/Jua-Regular.ttf);
}

/* font end */

* {
    margin: 0;
    padding: 0; 
}



nav {
    height: 80px;
    width: 100%;
    background-color: #441F13;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

nav ul li {
    list-style-type: none;
    font-family: font;
}

nav ul li a {
    text-decoration: none;
    color: rgb(233, 231, 231);
    font-size: 20px;
}

/* nav ul li a:hover {
    text-decoration-line: underline;
    transition-duration: 1s ease;
} */

#ham-icon {
    font-size: 28px;
    display: none;
}

nav input {
    display: none;
}

.logoo {
    width: 50px;
    height: 50px;
}
.active{
    color: gold;
}

/* nav end */

/* banner Start */

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/bannerimg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.397);
    background-blend-mode: overlay;
    gap: 20px;
}

/* .banner .banImage {
    width: 100%;
    height: auto;
    position: relative;
}

.banner .banImage img {
    width: 100%;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.1);
    background-blend-mode: overlay;
} */

.banner .banContent {
    width: 100%;
    height: auto;
    position: absolute;
    text-align: center;

}

.banner .banContent h2 {
    color: white;
    font-size: clamp(22px, 4vw, 80px);
    font-family: font1;
}

.banner .banContent button {
    background-color: transparent;
    backdrop-filter: blur(1px);
    color: white;
    font-family: poppines;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid white;
}

.banner .banContent button:hover {
    background-color: white;
    color: black;
    padding: 10px 50px;
    /* margin-top: 15px; */
    transition-duration: 1s;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}

.banner .banContent p {
    color: rgb(246, 239, 239);
    font-size: clamp(8px, 4vw, 25px);
    font-family: regpop;
}

/* banner end */

/* recepie */
.gird-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card-container {
    width: 100%;
    height: 100%;
    max-width: 2500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10px;
    gap: 20px;
    /* background-color: aqua; */
}

.card {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-family: medium;
    transition: 0.5s;
}

.card img {
    width: 80%;
    object-fit: cover;
}
#img2{
    height: 400px;
}
.card p,
.card .para {
    font-size: clamp(14px, 4vw, 18px);
}

.card .text {
    width: 90%;
    font-size: clamp(14px, 4vw, 18px);
}

.card .text2 {
    font-size: clamp(20px, 4vw, 50px);
}

.orange {
    color: gold;
    font-size: clamp(14px, 4vw, 20px);
    text-align: left;
}

li .fa-solid {
    color: gold;
    padding-right: 20px;
}

.card ul {
    text-decoration: none;
    list-style: none;
}

.img1,
.img3 {
    padding-left: 20px;
}

.img1,
.img2,
.img3 {
    border-radius: 20px;
    transition: 0.5s;

}

.card .img1:hover,
.card .img2:hover,
.card .img3:hover {
    transform: scale(0.9);
}

.img2 {
    border-radius: 20px;
    height: 200px;
    width: 100%;
    transition: 0.5s;
}


/* recepie end*/

/* our Gallery */

.our-gallery .our-galtxt {
    width: 100%;
    height: auto;
    text-align: center;
    gap: 20px;
    margin-top: 4%;
}

.our-gallery .our-galtxt p {
    color: gold;
    font-family: medium;
}

.our-gallery .our-galtxt h1 {
    color: rgb(20, 20, 20);
    font-family: font1;
    font-size: clamp(20px, 4vw, 50px);
}

.our-gallery .our-galtxt .txt {
    color: rgb(15, 15, 15);
    font-size: 13px;
    font-family: font;
}

/* our Gallery end */


/* card-caurosel */

.card-caurosel {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

/* .card-one,
.card-two,
.card-three,
.card-four {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.card-one,
.card-two,
.card-three,
.card-four {
    /* width: 20%; */
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgg {
    width: 350px;
    max-width: 250px;
    height: 350px;
    max-height: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.imgg:hover {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgba(97, 87, 87, 0.781);
    border-radius: 10px;
}

.card-caurosel p {
    font-size: 18px;
    text-align: center;
    font-family: regpop;
}

/* card-caurosel end*/

/* recipe */
.recipe {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    margin-top: 4%;
    background-color: black;
    color: white;
}

.recipe h1 {
    font-size: clamp(18px, 3vw, 45px);
    font-family: font1;
    text-align: center;
    color: white;
}

.recipe p {
    font-size: clamp(10px, 3vw, 25px);
    font-family: medium;
    text-align: center;
    color: gold;
}

.recipe .recipie-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    font-family: poppines;
    margin-top: 50px;
}

.recipie-content .left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(5px, 3vw, 25px);
}

.recipie-content .right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(10px, 3vw, 25px);

}

.recipe button {
    background-color: transparent;
    color: gold;
    font-family: font;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: clamp(10px, 3vw, 15px);
    transition-duration: 0.3s;
    font-weight: bolder;
    border: 2px solid gold;
    display: inline;
    /* margin-left: 23%; */
}

.recipe button:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 2px solid black;
}

.hr {
    width: 80%;
    height: 2px;
    background-color: gold;
    padding-left: 19%;
}

/* recipe-content end */

/* most Views */
.mostviews {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;

}

.mostviews .left {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: start;
    align-content: center; */
}

.mostviews .left h1 {
    font-size: clamp(22px, 4vw, 40px);
    font-family: poppines;
}

.mostviews .left p {
    font-size: clamp(12px, 4vw, 16px);
    font-family: medium;
}

.mostviews .left button {
    background-color: black;
    color: white;
    font-family: font;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: clamp(12px, 4vw, 15px);
    font-weight: bolder;
}

.mostviews .left button:hover {
    background-color: white;
    color: black;
    padding: 10px 30px 10px 30px;
    transition-duration: 0.3s;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}

.mostviews .right {
    width: 50%;
    height: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mostviews .right .img1 img {
    /* max-width: 75%; */
    /* max-height: 450px; */
    border-radius: 8px;
}

.mostviews .right .img1 img:hover {
    opacity: 0.7;
    background-color: black;
}

/* most Views end */


/* review */

.review {
    width: 100%;
    height: auto;
    margin-top: 6%;
    background-color: black;
    padding: 60px 0px;
}

.reviews {
    width: 100%;
    height: auto;
}

.review .reviews p {
    font-size: clamp(10px, 4vw, 16px);
    font-family: medium;
    text-align: center;
    color: white;
}

.reviews h1 {
    font-size: 45px;
    font-family: font1;
    color: white;
    text-align: center;
}

.reviews .para2 {
    font-size: 16px;
    font-family: font1;
    text-align: center;
    color: white;
}

.reviews p span {
    text-align: start;
    color: gold;
    font-family: medium;
    font-size: 20px;
}

.circlee {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    margin-left: 49.5%;
    gap: 20px;
}

.circle {
    width: 0.1px;
    height: 0.1px;
    background-color: gold;
    border-radius: 50px;
    padding: 8px;

}

/* review end */

/* footer */
.footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(450px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: #441F13;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .logo img {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}

.footer .logo a img {
    width: 130px;
}

.footer .tittle {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.footer .logo,
.help,
.rosource,
.social {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer .logo,
.help>a,
.rosource>a,
.social>a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.copyrights {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #441F13;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyrights p {
    font-size: clamp(10px, 1vw, 20px);
}



@media screen and (max-width:1440px) {
    .footer {
        grid-template-columns: repeat(auto-fit,
                minmax(180px, 1fr));
        /* padding-left: 0px; */
        justify-content: center;
        row-gap: 50px;
    }
.footer .logo img {
    width: 20%;
}
    .footer .help,
    .rosource,
    .social {
        padding-left: 30px;
    }

    .copyrights {
        width: 100%;
    }
    .grid-container .card-container{
        margin-bottom: 60px!important;
    }
    .card-container{
        width: 90%;
    }
    .card-container .card .text2{
        font-size: 40px;
    }
    .card-container .card .orange{
        font-size: 14px;
    }
    .card-container .card .text{
        font-size: 16px;
    }
}

@media screen and (max-width: 930px) {


    .mostviews {
        flex-direction: column;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }

    .mostviews .left  {
        width: 100%;
    }

    .mostviews .right {
        width: 100%;
    }

}

@media screen and (max-width:364px) and (min-width:100px) {
    .mostviews .right .img1 img {
        max-width: 75%;
        max-height: 150px;
    }

    .card-container .card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container .card {
        padding-left: 5px;
    }

    .img1,
    .img3 {
        padding-left: 0px;
    }
    
 .card-one,
 .card-two,
 .card-three,
 .card-four {
min-width: 10px;
}
}

@media(max-width:768px) {
    nav #ham-icon {
        display: block;
        order: 3;
        color: white;
    }

    nav ul {
        position: absolute;
        height: 280px;
        width: 100%;
        top: -100%;
        flex-direction: column;
        gap: 5px;
        transition-duration: 1s;
    }

    nav ul li {
        height: 150px;
        width: 57%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li a {
        font-size: 20px;

    }
    nav{
        gap: 100px;
    }

    #check-btn:checked~ul {
        top: 80px;
        left: 0px;
        background-color: rgba(108, 4, 4, 0.867);
        z-index: 1;
    }


    /* banner Start */

    .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .banImage {
        width: 100%;
        height: auto;
        position: relative;
    }

    .container .banImage img {
        width: 100%;
        background-size: cover;
        background-color: rgb(0, 0, 0, 0.1);
        background-blend-mode: overlay;
    }

    .container .banContent {
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;

    }

    .container .banContent h2 {
        color: white;
        font-size: 45px;
        font-family: medium;
    }

    .container .banContent button {
        background-color: transparent;
        color: white;
        font-family: font;
        padding: 5px 20px 5px 20px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: bolder;
        border: 2px solid white;
    }

    .container .banContent button:hover {
        background-color: white;
        color: black;
        padding: 10px 30px 10px 30px;
        margin-top: 15px;
        transition-duration: 1s;
        font-size: 15px;
        font-weight: bolder;
        border: 2px solid black;
    }

    .container .banContent p {
        color: rgb(246, 239, 239);
        font-size: 20px;
        font-family: monospace;
    }

    /* banner end */

    /* recepie */

    .makers {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 4%;
    }

    .make {
        width: 100%;
        height: auto;
    }

    .makers .make .con1 {
        width: 100%;
        height: auto;
        display: flex;
        /* position: relative; */
    }

    .makers .make .con1 .makeImg {
        width: 50%;
        height: auto;
    }

    .makers .make .con1 .makeImg img {
        width: 300px;
        height: 500px;
        border-radius: 20px;
        transition: 0.4s;
        object-fit: cover;
    }

    .makers .make .con1 .makeImg1 {
        width: 50%;
        height: auto;
        color: rgb(15, 13, 13);
        font-family: font1;
        margin-left: 50px;
    }

    .makers .make .con1 .makeImg1 span {
        color: gold;
        font-family: semibold;
        letter-spacing: 10px;
    }

    .makers .make .con1 .makeImg1 img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        transition: 0.4s;
        object-fit: cover;
    }

    .makers .makeImg2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: end;
    }

    .makers .makeImg2 .make3 {
        width: 50%;
        height: auto;
    }

    .makers .makeImg2 .make3 img {
        width: 100%;
        float: right;
        background-blend-mode: overlay;
        opacity: 0.6;

    }


    .makers .makeImg2 .content1 {
        width: 50%;
        height: auto;
        color: rgb(21, 20, 20);
        margin-left: 20px;
    }

    .makers .makeImg2 .content1 p {
        color: gold;
        font-size: 20px;
        font-weight: bold;
        font-family: medium;
    }

    .makers .makeImg2 .content1 h1 {
        font-family: font1;
        font-size: 30px;
    }

    .makers .makeImg2 .content1 span {
        font-size: 13px;
        font-family: regpop;
        letter-spacing: 3px;
        text-align: center;
    }

    .makers .makeImg2 .content1 ul li {
        text-decoration: none;
        list-style-type: none;
        font-family: font1;
        letter-spacing: 5px;
    }

    .makers .makeImg2 .content1 ul li .fa-solid {
        color: gold;
    }

    /* recepie end*/
    .recipe {
        padding: 60px 0px;
        margin-top: 4%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .recipie-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipie-content .left,
    .recipie-content .right {
        width: 100%;
    }

}


/* most Views end */

.review .reviews h1 {
    margin-top: 10px;
    font-size: 25px;
}

/* footer */

.footer {
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 40px; */
}

.footer .logo {
    width: 100%;
}

.footer .logo img {
    width: 20%;
}

.footer .aboutcont {
    width: 100%;
}

.footer .aboutcont .list1 {
    flex-direction: column;
    text-align: center;
}

.footer .aboutcont .list2 {
    text-align: center;
}

.footer .icon img {
    width: 15%;
}



/* footer end */



@media(max-width:375px) {

    .aboutcont {
        width: 60%;
        height: auto;
        color: #fff;
        padding-top: 50px;
        font-family: font;
        text-decoration: none;
    }

    .aboutcont .list1 {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .aboutcont .list1 li {
        font-size: 5px;
    }

    .aboutcont .list2 {
        font-size: 5px;
    }

    .footer .aboutcont .list1 {
        font-size: 12px;
        gap: 25px;
    }

    .footer .logo {
        font-size: 12px;
    }

    .footer .aboutcont .list2 {
        font-size: 12px;
    }

    .footer .icon img {
        width: 22%;
    }
}

@media(max-width:425px) {
    nav ul li {
        height: 100px;
        width: 57%;
    }

    nav ul li a {
        font-size: 10px;

    }

    /* footer */

    .container .banContent h2 {
        color: white;
        font-size: clamp(14px,4vw,20px);
        font-family: medium;
    }

    .container .banContent button {
        background-color: transparent;
        color: white;
        font-family: font;
        padding: 3px 10px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bolder;
        border: 2px solid white;
        margin-top: 0px!important;
    }

    .container .banContent button:hover {
        background-color: white;
        color: black;
        padding: 5px 20px ;
        transition-duration: 1s;
        font-weight: bolder;
        border: 2px solid black;
    }

    .container .banContent p {
        color: rgb(246, 239, 239);
        font-size: 9px;
        font-family: monospace;
    }

    /* bannerend */

    /* recepie */

    .makers {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 4%;
    }

    .make {
        width: 100%;
        height: auto;
    }

    .makers .make .con1 {
        width: 100%;
        height: auto;
        display: block;
        /* position: relative; */
    }

    .makers .make .con1 .makeImg {
        width: 100%;
        height: auto;
    }

    .makers .make .con1 .makeImg img {
        width: 300px;
        height: 500px;
        border-radius: 20px;
        transition: 0.4s;
        object-fit: cover;
        margin-left: 30px;
    }

    .makers .make .con1 .makeImg1 {
        width: 80%;
        height: auto;
        color: rgb(15, 13, 13);
        font-family: font1;
        margin-left: 50px;
    }

    .makers .make .con1 .makeImg1 span {
        color: gold;
        font-family: semibold;
        letter-spacing: 10px;
    }

    .makers .make .con1 .makeImg1 img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        transition: 0.4s;
        object-fit: cover;
    }

    .makers .makeImg2 {
        width: 100%;
        height: auto;
        display: block;
        justify-content: end;
    }

    .makers .makeImg2 .make3 {
        width: 100%;
        height: auto;
    }

    .makers .makeImg2 .make3 img {
        width: 100%;
        float: right;
        background-blend-mode: overlay;
        opacity: 0.6;
    }


    .makers .makeImg2 .content1 {
        width: 90%;
        height: auto;
        color: rgb(21, 20, 20);
        margin-left: 20px;
    }

    .makers .makeImg2 .content1 p {
        color: gold;
        font-size: 15px;
        font-weight: bold;
        font-family: medium;
        text-align: center;
    }

    .makers .makeImg2 .content1 h1 {
        font-family: font1;
        font-size: 20px;
        text-align: center;
    }

    .makers .makeImg2 .content1 span {
        font-size: 13px;
        font-family: regpop;
        letter-spacing: 3px;
        text-align: center;
    }

    .makers .makeImg2 .content1 ul li {
        text-decoration: none;
        list-style-type: none;
        font-family: font1;
        letter-spacing: 5px;
    }

    .makers .makeImg2 .content1 ul li .fa-solid {
        color: gold;
    }



    .reviews h1 {
        font-size: 35px;
        font-family: font1;
        color: white;
        text-align: center;
    }

    .reviews .para2 {
        font-size: 10px;
        font-family: font1;
        text-align: center;
        color: white;
    }

    .reviews p span {
        text-align: start;
        color: gold;
        font-family: medium;
        font-size: 15px;
    }

    .circlee {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-left: 45%;
        gap: 20px;
    }

    /* reviewend */

}

@media(max-width:320px) {
    .aboutcont .list1 li {
        font-size: 4px;
    }

    .aboutcont .list2 li {
        font-size: 4px;
    }

    .mostviews {
        padding: 0;
        margin: 0;
    }
}